<h1 class="p-4 bg-indigo-800 text-3xl font-bold text-white">
  Super Poderes Inúteis
</h1>

<h2 class="border-orange-500 border-l-4 m-4 pl-2 font-semibold">
  Poderes que não servem para nada, mas são divertidos de imaginar!
</h2>

<!-- Layout para exibição dos cards -->
<div class="flex gap-4 flex-wrap p-4">
  <div *ngFor="let power of powers" class="flex-item">
    <app-power-card
      [nome]="power.nome"
      [descricao]="power.descricao"
      [nivel_inutilidade]="power.nivel_inutilidade">
    </app-power-card>
  </div>
</div>

<!-- Mensagem de fallback caso não haja poderes -->
<ng-template #noPowers>
  <p>Não há super poderes disponíveis no momento.</p>
</ng-template>
