.container {
  text-align: center;
  padding: 40px;
}

h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.games {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  gap: 25px;
  justify-content: center;
  margin-top: 40px;
}

.result {
  margin-top: 40px;
  background: rgba(20,20,20,0.7);
  padding: 25px;
  border-radius: 10px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.cover {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}
